node_modules
.next
out
dist
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
coverage
tsconfig.tsbuildinfo
.next-dev*.log
.next-start*.log
.local-next-3012.*.log
.local-dev/
.local-import/
appwrite.config.json
